body{
    background: url("https://png.pngtree.com/background/20230716/original/pngtree-background-of-3d-rendered-payment-methods-for-online-shopping-picture-image_4237233.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}
